{% extends '../base/base.html' %}

{% block content %}
{% load static %}

<div class="pagetitle">
    <h1>{{ project_number }} - {{ project_name }}</h1>
    <h1>Свойства {{ equipment.equipment_tag }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/projects/{{ project_id }}">{{ project_id }}</a></li>
            <li class="breadcrumb-item"><a href="/projects/{{ project_id }}/equipment_list">Equipment List</a></li>
            <li class="breadcrumb-item active">{{ equipment.equipment_tag }}</li>
        </ol>
    </nav>
</div>

<section class="section">
    <form action="{% url 'equipment' project_id equipment.equipment_tag %}" method="POST">
        {% csrf_token %}
        <div class="row">
        
            <!--Left side-->
            <div class="col-lg-6">                       
                {% include '../include/equipment/general.html' %}                
            </div>
            <!--Right side-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Test</h5>
                        
                    </div>
                </div>
            </div>

        </div>
        
        <button type="submit" class="btn btn-success">Сохранить</button>
           
    </form>
</section>


{% endblock content %}