{% extends '../base/base.html' %}

{% block content %}
{% load static %}

<div class="pagetitle">
    <h1>Equipment List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/projects/{{ project_number }}">{{ project_number }}</a></li>
            <li class="breadcrumb-item active">Equipment List</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    
                    {% include '../include/create_equipment.html' %}
                    <table id="equipment_list" class="table datatable" width="100%">
                        <thead>
                            <tr>
                                <th>Номер объекта</th>
                                <th>WBS</th>
                                <th>Код</th>
                                <th>Номер</th>
                                <th>Таговый номер</th>
                                <th>Тип оборудования</th>
                                <th>Name</th>
                                <th>Наименование</th>
                                <th>Масса, кг</th>
                                <th>Режим работы</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in equipment_list %}
                            <tr>
                                <td>{{ x.equipment_area }}</td>
                                <td>{{ x.equipment_wbs }}</td>
                                <td>{{ x.equipment_code }}</td>
                                <td>{{ x.equipment_number }}</td>
                                <td>{{ x.equipment_tag }}</td>
                                <td>{{ x.equipment_type }}</td>
                                <td>{{ x.equipment_name_en }}</td>
                                <td>{{ x.equipment_name_ru }}</td>
                                <td>{{ x.equipment_weight }}</td>
                                <td>{{ x.equipment_work_mode }}</td>
                                <td>
                                    <a class="btn btn-success" href="{% url 'equipment' project_number x.equipment_tag %}">Свойства</a>
                                    <a class="btn btn-danger" href="{% url 'equipment' project_number x.equipment_tag %}">Удалить</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        new DataTable('#equipment_list', {
            scrollX: true,
            layout: {
                top1: 'searchPanes',
                topEnd: {
                    buttons: ['excel']
                }
            },
            searchPanes: {
                threshold: 1,
                initCollapsed: true
            },
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            columnDefs: [
                {
                    targets: 4,
                    createdCell: function (td) {
                        $(td).css('background-color', '#8cb6dc')
                    }
                }
            ]
        });
    });  
</script>

{% endblock content %}