{% extends '../base/base.html' %}

{% block content %}
{% load static %}



{% include '../include/create_project.html' %}

{% for x in projects %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ x.project_number }} - {{ x.project_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Статус: {{ x.project_status }}</h6>
        <p class="card-text"></p>        
        <a href="projects/{{ x.project_number }}" class="card-link">Перейти в проект</a>
    </div>
</div>


{% endfor %}
{% endblock content %}