<h2>Свойства {{ equipment.equipment_tag }}</h2>

<form class="d-flex" action="{% url 'equipment' project_number equipment.equipment_tag %}" method="POST">
    {% csrf_token %}
    <div>
        <div class="">

                Общее


                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" name="equipment_description_ru" id="equipment_description_ru" placeholder="" value="{{ equipment.equipment_description_ru }}">
                    <label for="equipment_description_ru">Наименование</label>
                </div>


                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" name="equipment_description_ru" id="equipment_description_en" placeholder="" value="{{ equipment.equipment_description_en }}">
                    <label for="equipment_description_en">Description</label>
                </div>

                <div class="form-floating mb-3 mt-3">
                    <input type="number" class="form-control" name="equipment_weight" id="equipment_weight" placeholder="" value="{{ equipment.equipment_weight }}">
                    <label for="equipment_weight">Масса, кг</label>
                </div>

        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
</form>