{% extends '../base/base-profile.html' %}

{% block content %}

<div class="rounded-3 text-white" style="background-color: #21262D;">

    <div class="p-4">
    Все заявки
                        
    <table border="2" class="table table-bordered text-white">

        <thead>
            <tr>
                <th>User</th>
                <th>Current time</th>
                <th>Start date</th>
                <th>Finish date</th>
                <th>Supervisor</th>
                <th>Junior HR</th>
                <th>Head HR</th>
                <th>Director</th>
                <th>Comments</th>
                <th>Document</th>
            </tr>                                    
        </thead>
                               
        {% for x in all_applications %}
            <tr>
                <td>{{ x.username }}</td>
                <td>{{ x.current_time }}</td>
                <td>{{ x.startdate }}</td>
                <td>{{ x.finishdate }}</td>
                <td>{{ x.supervisor }}</td>
                <td>{{ x.jun_hr}}</td>
                <td>{{ x.head_hr }}</td>
                <td>{{ x.director }}</td>
                <td>{{ x.comments }}</td>
                <td><a class="btn btn-success" href="/download_application/{{ x.id }}">Скачать заявление</a></td>
                <!-- {% if x.director == 'Утверждено' %} -->
                <!--<a class="btn btn-success" href="/download_application/{{ x.id }}"/{{ x.id }}">Скачать заявление</a></td>-->
                <!-- {% endif %} -->
            </tr> 
        {% endfor %}

    </table>

    </div>

</div>

{% endblock content %}