{% extends '../base/base-profile.html' %}

{% block content %}

<div class="rounded-3 text-white" style="background-color: #21262D;">

    <div class="p-4">

    Ваша таблица заявок
                        
    <table border="2" class="table table-bordered text-white">

        <thead>
            <tr>
                <th>Current time</th>
                <th>Start date</th>
                <th>Finish date</th>
                <th>Supervisor</th>
                <th>Junior HR</th>
                <th>Head HR</th>
                <th>Director</th>
                <th>Comments</th>
                <th>Reject</th>
            </tr>                                    
        </thead>
                               
        {% for x in applications %}
            <tr>
                <td>{{ x.current_time }}</td>
                <td>{{ x.startdate }}</td>
                <td>{{ x.finishdate }}</td>
                <td>{{ x.supervisor }}</td>
                <td>{{ x.jun_hr}}</td>
                <td>{{ x.head_hr }}</td>
                <td>{{ x.director }}</td>
                <td>{{ x.comments }}</td>
                <td>
                    {% if x.supervisor == 'На рассмотрении' %}
                    <a class="btn btn-success" href="/delete_application/{{ x.id }}">Отменить заявку</a>
                    {% endif %}
                </td>            
            </tr> 
        {% endfor %}

    </table>

    </div>

</div>

{% endblock content %}