{% extends '../base/base.html' %}

{% block content %}

<div class="rounded-3 text-white" style="background-color: #21262D;">
    <div class="p-4">
        Заявки на трудовой отпуск                        
        <table border="2" class="table table-bordered text-white">

                <thead>
                    <tr>
                        <th>id</th>
                        <th>Created at</th>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Patronymic</th>
                        <th>Start date</th>
                        <th>Finish date</th>
                        <th>Accept</th>
                        <th>Reject</th>
                    </tr>                                    
                </thead>
                
                {% for x in vacations %}
                    <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.current_time }}</td>
                        <td>{{ x.username.last_name }}</td>
                        <td>{{ x.username.first_name }}</td>
                        <td></td>
                        <td>{{ x.startdate}}</td>
                        <td>{{ x.finishdate }}</td>
                        <td><a class="btn btn-success" href="/accept_applications/{{ x.id }}">Принять</a></td>
                        <td><a class="btn btn-danger reject-btn" data-bs-toggle="modal" data-bs-target="#rejectModal" data-id="{{ x.id }}">Отклонить</a></td>
                    </tr>
                {% endfor %}

        </table>

        <!-- The Modal -->
        <div class="modal" id="rejectModal">
            <div class="modal-dialog">
                <div class="modal-content text-black">

                    <!-- Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Напишите комментарий</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Body-->
                    <form class="p-3" action="{% url 'reject_applications' %}" method="POST">
                        {% csrf_token %}
                        <label>ID заявки:</label>
                        <input id="app-id" name="app-id" readonly><br>
                        <textarea class="form-control" name="comment" placeholder="Комментарий..."></textarea><br>
                        <button type="submit" class="btn btn-success">Отправить</button>
                    </form>

                </div>

            </div>

        </div>

        <!-- Script-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
            $('.reject-btn').click(function() {
                document.getElementById("app-id").value = $(this).data('id');
                //$('#app-id').html($(this).data('id'));
            });
        </script>

    </div>
</div>

{% endblock content %}