{% extends '../base/base-profile.html' %}

{% block content %}

<div class="rounded-3 text-white" style="background-color: #21262D;">

    <div class="p-4">
        <div class="col-6 p-3 border border-secondary rounded">
            <p class="h2">Заявление</p>
            <p class="h5">на предоставление ежегодного оплачиваемого трудового отпуска</p>
            <form action="{% url 'add_vacation' %}" method="POST">
                {% csrf_token %}
                <div>
                    <input type="checkbox"  name="is_by_schedule"> 
                    <span>По графику</span>
                </div>

                <div>
                    <label for="start" class="form-label">с</label>
                    <input type="date" name="startdate">
                </div>

                <div>
                    <label for="finish" class="form-label">по</label>
                    <input type="date" name="finishdate">
                </div>
                    <label for="duration" class="form-label">Количество календарных дней</label>
                    <input type="number" name="duration">

                <div> 
                    
                </div>

                <button type="submit" class="btn btn-success">Отправить запрос</button>

            </form>
        </div>
    </div>

</div>

{% endblock content %}