{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

{% include '../base/navbar.html' %}

<body style="background-color: #0d1117;">
    <div class="container-fluid mt-3">
        <div class="row">
    
        <div class="col-sm-2">
            <div class="sticky-top rounded-3 text-white" style="background-color: #21262D;">
                {% include '../base/profile-left.html' %}
            </div>
        </div>
    
        <div class="col-sm">
            <div class="rounded-3 text-white" style="background-color: #21262D;">

                <div class="p-4">
                    <div class="col-6 p-3 border border-secondary rounded">
                        <p class="h2">Заявление</p>
                        <p class="h5">на предоставление ежегодного оплачиваемого трудового отпуска</p>
                        <form action="{% url 'add_vacation' %}" method="POST">
                            {% csrf_token %}

                            <div>
                                <label for="start" class="form-label">с</label>
                                <input type="date" name="startdate">
                            </div>

                            <div>
                                <label for="finish" class="form-label">по</label>
                                <input type="date" name="finishdate">
                            </div>

                            <button type="submit" class="btn btn-success">Отправить запрос</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    
        <div class="col-sm-2">
            <div class="rounded-3 text-white" style="background-color: #21262D;">
                {% include '../base/main-right.html' %}
            </div>
        </div>
    
        </div>
    </div>
</body>

</html>